body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

#mallName{
  color: rgb(252, 254, 255);
  font-style: oblique;
  text-shadow: 0 0 5px #000000;
}

#button-addon2:hover{
  background-color: rgb(191, 247, 247);
  color: black;
}

#details-btn{
  background-color: rgb(129, 234, 241);
}

#details-btn:hover{
  background-color: rgb(153, 152, 152);
  color: rgb(253, 253, 253);
}

#addToCart-btn{
  background-color: rgb(113, 245, 119);
}

#addToCart-btn:hover{
  background-color: rgb(153, 152, 152);
  color: rgb(253, 253, 253);
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.single-product {
  padding: 10px;
  transition: 0.6s;
  border: 1px solid rgb(6, 221, 250);
  border-radius: 10px;
  background-color: rgb(190, 241, 241);
  width: auto;
  height: 650px;
  margin: 10px;
}

.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
  transform: rotateX(0deg) scale(1.1);
  transition: 2s all ease;
  background-color: rgb(255, 255, 255);
}

.product-image {
  width: 150px;
  height: 150px;
}

.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}

.cart-main {
  padding-right: 30px;
}

@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
  }
}
#all-products{ 
  background-color: rgb(209, 242, 245);
}

.products-and-deliveryCharge{
  background-color: rgb(233, 231, 231);
}
